@import '~@csstools/normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: grid;
  place-items: center;
  margin-block: 8rem;
  background-color: rgb(240, 240, 240);
}

.content {
  width: 480px;
  background-color: rgb(82,109,133);
  padding-block: 2rem;
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 5px 8px -2px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

label {
  margin-top: 1rem;
  color: rgb(240, 240, 240);
}

input {
  color: rgb(30, 30, 30);
}

input.valid {
  border: 1px solid turquoise;
}

input.invalid {
  border: 1px solid firebrick;
}

select {
  cursor: pointer;
}

input,
select {
  outline: none;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(230, 250, 250);
}

label,
input,
select {
  width: 300px;
}

button {
  padding-block: 0.5rem;
  padding-inline: 2rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: rgb(149, 210, 235);
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

button:hover {
  background-color: rgb(142, 219, 255);
}

button:active {
  background-color: rgb(149, 198, 218);
}

.error {
  color: aliceblue;
}